name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 1.8
      uses: actions/setup-java@v5
      with:
        java-version: 21
        distribution: 'temurin'
    - name: Build with Gradle
      run: ./gradlew clean build
